body {
    background-color: rgb(241, 235, 235);
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #161718;
    color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #555;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar p {
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0; 
    padding-left: 20px; 
}

.navb {
    display: flex;
    gap: 70px; 
    padding-right: 20px;
    margin-right: 20px; 
    font-family: 'Montserrat', sans-serif;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav2 {
    background-color: #161718;
    padding: 8px 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 60px;
    z-index: 1000;
   
}
.Nav2 {
   margin-left: 20px;
}
.nav2 .navicons {
    
    display: flex;
    gap: 20px;
}

.content {
    border: 1px solid;
    background-color: #161718;
    border-radius: 10px;
    height: 700px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 100px;
}

.content .fwc-readmore {
    display: flex;
    flex-direction: column; 
    margin-left: 50px;
}

.content .fwc {
    color: rgb(204, 193, 193);
    margin-left: 50px;
    margin-top: 100px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}
.content .readmore {
    color: rgb(20, 19, 19);
    background-color: whitesmoke;
    border: 1px solid rgb(70, 66, 66);
    height: 50px;
    width: 100px;
    padding: 1px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transition: all 0.2s ease;

}
.content .readmore a {
    color: rgb(20, 19, 19);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.content .readmore:hover {
    background-color: rgb(122, 115, 115);
    border-color: whitesmoke;
}
.content .readmore:hover a {
    color: whitesmoke;
}
.content .image {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    transform: translateY(12%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.overview {
    width: 100%;
    background: linear-gradient(to top, #555, #ada9a9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.overview .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content2 {
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content2 .article {
    width: 70%;
    font-size: 15px;
    margin-top: 30px;
    font-weight: 50;
    text-align: center;
}